$background-color1: #0D1B2A;
$background-color2: #C8D3D5;
$background-color3: #778DA9;
$font-color1: #FCFAFA;
$background-color4: #0B7A75;

@mixin primaryFont($size) {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    text-transform: uppercase;
    line-height: 1.6;
}

@mixin secondaryFont($size) {
    font-family: 'Open Sans', sans-serif;
    font-size: $size * 1px;
    font-size: ($size/10) * 1rem;
    line-height: 1.6;
}


html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

input[type="text"],
select {
    @include secondaryFont(18);
    line-height: 1.4;
    border: 1px solid $font-color1;
    padding: 10px;
    border-radius: 5px;
    width:100%;
}

select {
    appearance: none;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.font-1 {
    @include primaryFont(30);
    color: $font-color1;
    text-align: center;
}

.font-2 {
    @include primaryFont(20);
    color: $font-color1;
}


.font-3 {
    @include primaryFont(18);
    color: $background-color1;
    text-align: center;
    margin-bottom: 10px;
}

p {
    @include secondaryFont(16);
}