.header {
    padding: 225px 0;
    // border: 1px solid black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/budget-background4.jpg") center;
    background-size: cover;



    // &-font1 {
    //     text-align: center;
    //     text-transform: uppercase;
    // }
}