.totals-uinput {
    // background: $secondary-color;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    
    &-container {
        display: flex;
        flex-direction: column;
    }
}



.uinput {
    flex: 1 0 auto;
    margin-right: 50px;

    &-form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // border: 1px solid black;
    }

    &-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;
        // width: 70%;
        // border: 1px solid black;
        // align-items: center;
    }

    &-radio-container {
        display:flex;
        justify-content: center;
    }


    &-radio-select {
        display: flex;
        margin-right: 30px;
        // position: relative;
        align-items: center;
        // border: 1px solid black;

        &:last-of-type {
            margin-right: 0;
        }

    }

    
    &-radio-label {
        display:flex;
        position: relative;
        padding-left: 25px;
        align-items: center;
        cursor: pointer;
        
        .uinput-checkmark:after {
            top:5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;   
        }

    }
    &-radio-button {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        // margin-right: 10px;

        // &:checked+.uinput-checkmark:after {
        //     display: block;
        // }

        &:checked + .uinput-checkmark {
            background: $accent-color;

            &:after {
                display: block;
            }
        }

    }


    &-checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
        transform: translateY(-50%);

        &:after {
            content: "";
            display: none;
            position: absolute;
        }
    }


    &-invisible {
        display: none;
    }

    &-list {
        display: flex;
        // border: 1px solid black;
        justify-content: space-between;

        &-item {
            display: flex;
            flex-direction: column;
            width: 40%;
            // margin-right: 30px;
            justify-content: space-between;
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
    }


    &-center {
        text-align: center;
    }

    //For handling error input
    &-amount-error {
        display:none;
        position: absolute;
        bottom: -28px;
        width: 100%;
        border-radius: 5px;
        background: $accent-color2;
        
        p {
            color: $secondary-color;
            text-align: center;  
        }
    }

    &-date-error {
        @extend .uinput-amount-error;
    }

    &-submit {
        @include secondaryFont(18);
        align-self: center;
        margin-bottom: 10px;
        background: $accent-color;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: 5px 5px 5px #ccc;
    }
}

.error-appear {
    display: block;
}

.totals-output {
    display: flex;
    flex: 2 0 auto;
    // border: 1px solid black;
    flex-direction: column;

}

.totals {
    display: flex;
    // justify-content: center;
    // margin-bottom: 25px;
    // flex: 1 0 auto;
    margin-bottom: 40px;

    &-list {
        display: flex;
        width: 100%;
        // flex-direction: column;
        align-items: center;
        justify-content: space-around;
        // flex-wrap: wrap;
        // border: 1px solid green; 
        // width: 20%;  
    }

    &-row {
        // margin-bottom: 10px;
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $accent-color2;
        padding: 5px 10px;
        border-radius: 5px;
        // box-shadow: 5px 5px 5px #ccc;

        &:last-child {
            margin-bottom: 0;
        }
    }


    &-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &-value {
            @include secondaryFont(25);
            // color: $secondary-color;
            color: white;
        }


    }
}

.output-disp {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid black;
    // 
    
    &-btn-list {
        display: flex;
    }
    
    &-btn {
        padding: 0 15px;
        // border: 1px solid black;
        border-radius: 5px 5px 0 0;
        background: $accent-color2; 
        border-right: 1px solid black;
        // border-left: 1px solid black;
        cursor: pointer;

        &-heading {
            margin-bottom: 0;
        }


        &-selected {
            background:$accent-color;

        }
    }

    &-row {
        display: flex;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 5px;

        // justify-content: space-between;
        &-entry {
            margin: 10px 0;
            background: $accent-color2;
            // border-radius: 500px;
            border: none;
        }
    }

    &-entry {
        @include secondaryFont(16);
        color: $secondary-color;

        &-mini {
            @include secondaryFont(12);
            color: $secondary-color;
        }
    }


    // Was &-results
    &-table-container {
        width: 95%;
        position: relative;
        height: 400px;
    }

    &-table {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        //overflow: auto was here
        overflow: auto;
    }
    
    &-results {
        width: 100%;
    }


    
    // &-col-all {
    //     margin-right: 10px;
    //     width: calc((100% / 6) - 10px);

    //     &:last-child {
    //         margin-right: 0;
    //     }

    // }


   
    &-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-col-1 { //* 1
        // flex: 1 0 auto;
        width: 3%;
    }
    &-col-2 { //* 2
        width: 15%;
    }
    &-col-3 { //* 1
        width:20%;
    }
    &-col-4 { //* 1
        width: 25%;
    }
    &-col-5 { //* 1
        width: 37%;
    }

    // &-col-small-all {
    //     width: 15%;
        
    // }
    // &-col-med-all {
    //     width: 20%;
    
    // }
    // &-col-big-all {
        
    //     width: 20%;
        
    // }

    // &-col-small {
    //     width: 10%;
        
    // }

    // &-col-med {
    //     width: 20%;
        
    // }

    // &-col-big {
    //     width: 50%;
    // }



    &-top {
        z-index: 10;
        opacity: 1;
    }
}