html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

h1, h2, h3, h4, h5, h6, ul, li, p, figure, label, fieldset {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto; }

input[type="text"], select {
  font-family: 'Open Sans', sans-serif;
  color: #232323;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  line-height: 1.4;
  border: 1px solid #232323;
  padding: 10px;
  border-radius: 5px; }

.font-1 {
  color: #232323;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  text-align: center; }

.font-2 {
  font-family: 'Archivo', sans-serif;
  color: #232323;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: white; }

.font-3 {
  font-family: 'Archivo', sans-serif;
  color: #232323;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px; }

p {
  font-family: 'Open Sans', sans-serif;
  color: #232323;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6; }

.header {
  padding: 10px 0;
  border: 1px solid black; }

.uinput-output {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.uinput {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 50px; }
  .uinput-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .uinput-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative; }
  .uinput-radio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .uinput-radio-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .uinput-radio-select:last-of-type {
      margin-right: 0; }
  .uinput-radio-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-left: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .uinput-radio-label .uinput-checkmark:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white; }
  .uinput-radio-button {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .uinput-radio-button:checked + .uinput-checkmark {
      background: #8B2635; }
      .uinput-radio-button:checked + .uinput-checkmark:after {
        display: block; }
  .uinput-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .uinput-checkmark:after {
      content: "";
      display: none;
      position: absolute; }
  .uinput-invisible {
    display: none; }
  .uinput-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .uinput-list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 40%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .uinput-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .uinput-center {
    text-align: center; }
  .uinput-amount-error, .uinput-date-error {
    display: none;
    position: absolute;
    bottom: -18px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: rgba(139, 38, 53, 0.678); }
    .uinput-amount-error p, .uinput-date-error p {
      font-size: 1.2rem;
      color: #FAFAFA;
      text-align: center; }
  .uinput-submit {
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.6;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 10px;
    background: #8B2635;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc; }

.error-appear {
  display: block; }

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.totals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.totals-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 0;
  border: 1px solid black; }

.totals-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0B7A75;
  padding: 5px 10px;
  border-radius: 5px; }

.totals-item {
  margin-right: 20px; }
  .totals-item:last-child {
    margin-right: 0; }
  .totals-item-value {
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.6;
    color: white; }

input.uinput-remove-radius {
  border-radius: 5px 5px 0 0; }

.output-disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .output-disp-btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .output-disp-btn {
    padding: 0 15px;
    border-radius: 5px 5px 0 0;
    background: #0B7A75;
    border-right: 1px solid black;
    cursor: pointer; }
    .output-disp-btn-heading {
      margin-bottom: 0; }
    .output-disp-btn-selected {
      background: #8B2635; }
  .output-disp-cursor {
    cursor: pointer; }
  .output-disp-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px; }
    .output-disp-row-entry {
      margin: 10px 0;
      background: #0B7A75;
      border: none; }
  .output-disp-entry {
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #FAFAFA; }
    .output-disp-entry-mini {
      font-family: 'Open Sans', sans-serif;
      color: #232323;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1.6;
      color: #FAFAFA; }
  .output-disp-table-container {
    width: 100%;
    position: relative;
    height: 450px; }
  .output-disp-table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    overflow: auto; }
  .output-disp-results {
    width: 100%; }
  .output-disp-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .output-disp-col-1 {
    width: 3%; }
  .output-disp-col-2 {
    width: 15%; }
  .output-disp-col-3 {
    width: 20%; }
  .output-disp-col-4 {
    width: 25%; }
  .output-disp-col-5 {
    width: 37%; }
  .output-disp-top {
    z-index: 10;
    opacity: 1; }

.footer {
  padding: 5px 0;
  border: 1px solid black; }

.footer-text {
  text-align: center; }

@media (max-width: 1180px) {
  .uinput-output {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .uinput {
    margin-right: 0;
    margin-bottom: 30px; }
  input[type="text"], select {
    width: 100%; } }

@media (max-width: 930px) {
  .totals-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .totals-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    padding: 0;
    margin-top: 20px; }
  .totals-row {
    margin-bottom: 10px; }
    .totals-row:last-child {
      margin-bottom: 0; } }

@media (max-width: 675px) {
  .font-1 {
    font-size: 5rem; }
  .wrapper {
    width: 98%; }
  .output-disp-entry {
    font-size: 1.4rem; }
  .output-disp-entry-mini {
    font-size: 1rem; } }

@media (max-width: 530px) {
  .output-disp-entry {
    font-size: 1.2rem; }
  .output-disp-entry-mini {
    font-size: 0.8rem; } }

@media (max-width: 470px) {
  .output-disp-entry {
    font-size: 1rem; }
  .output-disp-entry-mini {
    font-size: 0.6rem; }
  .output-disp-tab-header {
    font-size: 1.4rem; } }

@media (max-width: 390px) {
  .output-disp-entry {
    font-size: 0.9rem; }
  .output-disp-entry-mini {
    font-size: 0.5rem; }
  .output-disp-tab-header {
    font-size: 1.3rem; } }
